<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="io.github.droidapps.pdfreader"
        android:installLocation="auto" android:versionCode="40000" android:versionName="0.4.0"
        >
        
    <!--

    	version code:
    	
    	x.y.z.d for EABI E : XYZDDE
    	0.3.5.2 for all becomes   35020
    	0.3.5.2 for intel becomes 35023
    	
    	old development versions translate to sub (4-th place) versions (0.3.7dev05 is the same as 0.3.6.5),
    	versions with 0 at 4-th place are considered stable.
    	
        old version code:
        xyz00E for x.y.z           : 5.4.3      becomes 54300E
        xyzDDE for x.y.(z+1)devDD  : 5.4.4dev05 becomes 54305E
        
        where E is eabi version:

         - armeabi and armeabi-v7a and x86 is 0
         - armeabi is 1
         - armeabi-v7a is 2
         - x86 is 3
         
        this way armeabi-v7a will be chosen for devices supporting
        armeabi and armeabi-v7a architectures

        version code scheme will probably be revised to better fit what's described here:
        <http://developer.android.com/guide/market/publishing/multiple-apks.html#VersionCodes>
        
    -->


    <!-- 4 is 1.6 or later, that's more than 99% of devices -->
	<uses-sdk android:minSdkVersion="4" android:targetSdkVersion="17"/>

	<supports-screens
            android:smallScreens="true"
            android:normalScreens="true"
            android:largeScreens="true"
            android:anyDensity="true"/>
	
	

	<application android:name="io.github.droidapps.pdfreader.APVApplication"
            android:icon="@drawable/pdfreader_icon"
            android:label="@string/app_name"
            android:allowBackup="true">

		<activity android:name=".ChooseFileActivity" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity android:name=".OpenFileActivity" android:label="@string/app_name"
			android:configChanges="orientation|keyboardHidden">
			<intent-filter>
				<action android:name="android.intent.action.VIEW"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<category android:name="android.intent.category.BROWSABLE"/>
				<data android:mimeType="application/pdf" android:scheme="file"/>
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<category android:name="android.intent.category.BROWSABLE"/>
				<data android:mimeType="application/pdf" android:scheme="content"/>
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<category android:name="android.intent.category.BROWSABLE"/>
				<data android:host="*" android:scheme="file"
					android:pathPattern=".*\.[pP][dD][fF]" />
			</intent-filter>
		</activity>

		<activity android:name=".AboutPDFViewActivity" android:label="@string/app_name" />
		<activity android:name=".Options" android:label="@string/options" />

	</application>

</manifest>
